{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LFG</title>
	<link rel="stylesheet" href="./styles/index.css">
	<!-- <script src="../packages/htmx.min.js"></script> -->
	<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
</head>
<body>
	<div class="nav">
		<h1>LFG</h1>
		<input class="form-control" 
		type="search" 
		name="search" 
		placeholder="Search Projects" 
		hx-post="/search"
		hx-trigger="input changed delay:500ms, search"
		hx-indicator=".htmx-indicator">
	</div>
	<p> Count {{ .Count }}	</p>
	<button hx-post="/count">PRESS</button>
</body>
</html>
{{ end }}